<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: lightpink;
        }
    </style>
</head>
<body>
    <form action="/extractCaptcha" method="post" enctype="multipart/form-data" >
        <label for="file">Upload Image file</label>
        <input type="file" name="file" id="" required accept="image/*">
        <button>Extract text from Image</button>
    </form> 

    <textarea cols="40" rows="40">
        <%=data%>
    </textarea>
</body>
</html>